curriculum.aux
curriculum.log
curriculum.pdf
curriculum_en.aux
curriculum_en.bbl
curriculum_en.blg
curriculum_en.dvi
curriculum_en.log
curriculum_en.pdf
curriculum_en.tex.backup
curriculum_en.tex~
curriculum/curriculum.bbl
curriculum/curriculum.blg
curriculum/curriculum.fdb_latexmk
curriculum/curriculum.fls
curriculum/curriculum.out
curriculum/curriculum.tex~
curriculum/curriculum_en.out
curriculum/texput.log
*.*~
